{% extends "base.html" %}
{% block content %}

   
    <fieldset>
    <legend>Display Accounts</legend>
    <table>
        <tr>
            <th>id</th>
            <th>Account Number</th>
            <th>Name</th>
            <th>Customer Type</th>
            <th>Balance</th>
            
        </tr>
        {% for customer in customers %}
            <tr>
                <td>{{customer._id}}</td>
                <td>{{customer.accountnumber}}</td>
                 <td>{{customer.name}}</td>
                <td>{{customer.customertype}}</td>
                <td>{{customer.balance}}</td>
               
              </tr>
         {% endfor %}
      </table>
      </fieldset>
     
                 
                
    
    
    
{% endblock %}     
